.hero-section {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    z-index: 1;
    min-height: 100vh;
    /* border: 3px solid; */
}

.hero-section::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 5%;
    top: 20%;
    left: 20%;
    background-color: red;
    filter: blur(80px);
    z-index: -1;
}

.hero-section::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 10%;
    top: 20%;
    right: 20%;
    background-color: red;
    filter: blur(100px);
    z-index: -1;
}