.hero-section {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    z-index: 1;
    min-height: 100vh;
    /* border: 3px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero-section::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 15%;
    top: 30%;
    left: 20%;
    background-color: rgb(147, 157, 224);
    filter: blur(80px);
    z-index: -1;
}

.hero-section::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 30%;
    top: 60%;
    left: 40%;
    background-color: rgb(137, 151, 240);
    filter: blur(100px);
    z-index: -1;
}


.hero-section .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
}

.hero-section .left h1 {
    font-family: var(--orbitron);
    font-size: var(--font-heading1);
    margin-bottom: 1rem;
}

.hero-section .left p {
    width: 90%;
    margin-bottom: 5rem;
}

.hero-section .left button {
    background-color: var(--blue-color);
    color: var(--white-color);
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 0.7rem;
    font-weight: 400;
    padding: 1.2rem 2rem;
}

.hero-section .left button:hover {
    background-color: var(--blue-color2);
}


.hero-section .right {
    width: 50%;
}